/*Reset*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.card__description--align {
  margin-top: 3vh;
}
.amount {
  width: 120px;
  height: 50px;
  position: fixed;
  right: -125px;
  top: 65px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgba(196, 248, 207, 0.8);
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 1s;
}
.amount__mistakes {
  color: rgb(253, 9, 9);
}

.form-verb {
  font-size: 1rem;
  line-height: 2rem;
}
.form-verb__answer {
  display: inline-block;
  outline: none;
  height: 30px;
  width: 100px;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  border: 1px solid #6cc3fd;
  border-radius: 10px;
  padding: 5px 10px;
}
.form-verb__btn {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 100px;
}

@media (min-width: 760px) {
  .amount {
    top: 85px;
    width: 150px;
    height: 80px;
    align-items: center;
    gap: 10px;
    right: -205px;
  }
}
.btn {
  transition: 1s;
  border: 1px solid #6cc3fd;
  border-radius: 10px;
  color: #fff;
}
.btn:hover, .btn:active, .btn:focus {
  color: #fff;
  background-color: #0b7fdf;
}

#inactive1,
#inactive2 {
  pointer-events: none;
  background-color: #e4e4e4;
}

#active,
.active {
  pointer-events: all;
  background-color: #0b7fdf;
}

.drag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 80vw;
  height: 50vh;
  padding: 5px 0;
}
.drag__question {
  width: 100%;
  min-height: 150px;
  padding: 3vw;
  text-align: justify;
  background-color: rgba(108, 195, 253, 0.3);
}
.drag__empty-field {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  border: 1px solid #6cc3fd;
  border-radius: 10px;
}
.drag__answer {
  min-width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #6cc3fd;
  border-radius: 10px;
  background-color: #6cc3fd;
  color: #fff;
  padding: 5px;
}

.question__text {
  line-height: 2rem;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  border: 1px solid #6cc3fd;
}

.hide {
  display: none;
}

.stuck {
  background-color: #e4e4e4;
}

.btn__start {
  width: 50px;
  height: 30px;
}

.card__btn {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  margin-bottom: 3vh;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-weight: 400;
}

.container {
  min-width: 280px;
  height: 100%;
  padding: 3vw;
}

a {
  color: #535353;
}

h3 {
  font-size: 1.2rem;
}

.header {
  position: fixed;
  min-width: 100%;
  height: 60px;
  background-color: #6cc3fd;
}

.header-menu {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-menu__logo {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 98;
  text-align: center;
  background-color: #6cc3fd;
}
.header-menu__checkbox:checked ~ .header-menu__container {
  top: 0;
}
.header-menu__checkbox:checked ~ .header-menu__btn .header-menu__icon span {
  background: transparent;
}
.header-menu__checkbox:checked ~ .header-menu__btn .header-menu__icon span::before, .header-menu__checkbox:checked ~ .header-menu__btn .header-menu__icon span::after {
  top: 0;
}
.header-menu__checkbox:checked ~ .header-menu__btn .header-menu__icon span::after {
  transform: rotate(-45deg);
}
.header-menu__checkbox:checked ~ .header-menu__btn .header-menu__icon span::before {
  transform: rotate(45deg);
}
.header-menu__btn {
  display: block;
  position: absolute;
  top: 30px;
  right: 3vw;
  z-index: 99;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.header-menu__icon {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-menu__icon span {
  display: block;
  position: relative;
  background: rgb(255, 255, 255);
  width: 90%;
  height: 4px;
  transition: 0.4s;
}
.header-menu__icon span::after, .header-menu__icon span::before {
  content: "";
  display: block;
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 4px;
  transition: 0.4s;
}
.header-menu__icon span::after {
  top: 8px;
}
.header-menu__icon span::before {
  top: -8px;
}
.header-menu__container {
  position: absolute;
  top: -380px;
  left: 10%;
  right: 10%;
  height: 300px;
  background-color: #6cc3fd;
  transition: 1s;
}
.header-menu__items {
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  line-height: 1.25rem;
}
.header-menu__link {
  color: #fff;
}

.logo__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  font-family: "Monoton";
  color: #fff;
}
.logo__title a {
  box-shadow: 0 0 15px #5cf77d;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 1vw;
}
.logo__title a:hover {
  transform: translate(23px, 12px);
}
.logo__title--size {
  font-size: 1.3rem;
}

@media (min-width: 760px) {
  .header {
    height: 80px;
  }
}
main {
  height: 100%;
  width: 100%;
}

.levels {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.toggle {
  display: flex;
  font-size: 1rem;
}
.toggle div {
  flex: 0 1 33.3%;
  width: 25.5vw;
  text-align: center;
  border-radius: 10px;
  height: 40px;
}
.toggle div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  transition: 1s;
  border-radius: 10px;
  border: 1px solid #6cc3fd;
}
.toggle div a:hover, .toggle div a:active, .toggle div a:focus {
  background-color: #6cc3fd;
  color: #fff;
}
.toggle__beginer:visited {
  background-color: #6cc3fd;
}
.toggle__intermediate {
  pointer-events: none;
  background-color: #e4e4e4;
}
.toggle__intermediate a {
  color: #e4e4e4;
}
.toggle__advanced {
  pointer-events: none;
  background-color: #e4e4e4;
}
.toggle__advanced a {
  color: #e4e4e4;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-gap: 7vw;
}

.card {
  padding: 2vh;
  width: 100%;
  height: 100%;
  border: 1px solid #6cc3fd;
  border-radius: 10px;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 0 15px #5cf77d;
}
.card_icon {
  width: 80px;
  height: 80px;
}
.card_icon img {
  width: auto;
  height: auto;
}
.card__link {
  width: 100%;
  height: 100%;
  display: block;
}
.card__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__text {
  text-align: center;
  line-height: 1.5;
}
.card__description {
  margin-top: 1vh;
}

@media (min-width: 760px) {
  .cards-list--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    grid-gap: 5vh;
  }
  .levels {
    gap: 3vh;
  }
  .levels__box {
    width: 100vw;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */