.btn {
	transition: 1s;
	border: 1px solid $sky;
	border-radius: 10px;
	color: $white;

	&:hover,
	&:active,
	&:focus {
		color: $white;
		background-color: $blue;
	}
}

#inactive1,
#inactive2 {
	pointer-events: none;
	background-color: $lightGray;
}
#active,
.active {
	pointer-events: all;
	background-color: $blue;
}

.btn-next {
	border-radius: 10px;
	background-color: $lightGray;
	color: $white;
	border: none;
	&:hover,
	&:active,
	&:focus {
		color: $white;
		background-color: $darkGrey;
	}
}
