@import "vars";

.drag {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-width: 80vw;
	height: 70vh;
	padding: 5px 0;

	&__question {
		width: 100%;
		min-height: 150px;
		padding: 3vw;
		text-align: justify;
		background-color: $skyOpasity;
	}

	&__empty-field {
		display: inline-block;
		width: 100px;
		height: 30px;
		text-align: center;
		border: 1px solid $sky;
		border-radius: 10px;
	}

	&__answer {
		// flex: 0 1 33.3%;
		min-width: 100px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid $sky;
		border-radius: 10px;
		background-color: $sky;
		color: $white;
		padding: 5px;
	}
}
.question {
	&__text {
		line-height: 2rem;
	}
}
.wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2vw;
	justify-content: center;
	align-items: center;
	border: 1px solid $sky;
}
.answer {
	&__text {
	}
}

.hide {
	display: none;
}

.stuck {
	background-color: $lightGray;
}
