@import "reset";
@import "fonts";
@import "verb-to-be";
@import "button";
@import "drag-answer";
@import "find-match";
@import "vars";
@import "contacts";

body {
	font-family: $ff-os;
	color: $black;
	font-weight: 400;
	overflow-x: hidden;
	line-height: 1.5;
}
.container {
	min-width: 280px;
	padding: 1vh 3vw;
	height: 100%;
}
a {
	color: $darkGrey;
}
h3 {
	font-size: 1.2rem;
}
h2 {
	font-size: calc($index-size * 1.7);
	line-height: 54px;
}

//MAIN-HEADER

.main-header {
	position: relative;
	width: 100%;
	height: 100vh;
	&::before {
		content: "";
		background: url(../assets/images/bg-small.png) 0 0 / cover no-repeat;

		width: 100%;
		height: 100%;
		opacity: 0.7;
		position: absolute;
		z-index: -1;
	}
	&__about {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5vh;
	}
}
.block {
	min-width: 80vw;
	height: 70vh;

	&__info {
		padding: 0 1vw;
		border-radius: 10%;
		flex: 0 1 40%;
		background-color: $whiteOpacity;
	}

	&__title {
		font-family: $ff-ssp;
		text-align: center;
	}

	&__description {
		margin-top: 1vw;
		font-family: $ff-ssp;
		font-size: calc($index-size * 1.3);
		& span {
			font-family: $ff-mon;
		}
	}

	&__image {
		flex: 0 1 50%;

		& img {
			opacity: 0.3;
		}
	}
}

// HEADER

.header {
	position: fixed;
	z-index: 999;
	min-width: 100%;
	height: 60px;
	background-color: $sky;
}
.header-menu {
	width: 100%;
	height: 100%;
	position: relative;
	&__logo {
		width: 100vw;
		height: 100%;
		position: absolute;
		z-index: 998;
		text-align: center;
		background-color: $sky;
	}

	&__checkbox {
		&:checked ~ {
			.header-menu {
				&__container {
					top: 0;
				}

				&__btn {
					.header-menu__icon {
						& span {
							background: transparent;
							&::before,
							&::after {
								top: 0;
							}

							&::after {
								transform: rotate(-45deg);
							}
							&::before {
								transform: rotate(45deg);
							}
						}
					}
				}
			}
		}
	}

	&__btn {
		display: block;
		position: absolute;
		top: 30px;
		right: 2vw;

		z-index: 999;
		width: 30px;
		height: 30px;
		cursor: pointer;
		transition: 0.4s;
	}

	&__icon {
		width: 100%;
		height: 100%;
		position: relative;

		& span {
			display: block;
			position: relative;
			background: rgba(255, 255, 255, 1);
			width: 90%;
			height: 4px;
			transition: 0.4s;

			&::after,
			&::before {
				content: "";
				display: block;
				position: absolute;
				background: rgba(255, 255, 255, 1);
				width: 100%;
				height: 4px;
				transition: 0.4s;
			}
			&::after {
				top: 8px;
			}
			&::before {
				top: -8px;
			}
		}
	}

	&__container {
		position: fixed;
		top: -380px;
		left: 10%;
		right: 10%;
		height: 300px;
		z-index: 99;
		background-color: $sky;
		transition: 1s;
	}

	&__items {
		width: 100%;
		height: 100%;
		margin-top: 5vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4vh;
		line-height: 1.25rem;
	}

	&__item {
		& a {
			&:hover {
				box-shadow: 0 0 35px $darkGrey;
			}
		}
	}

	&__link {
		color: $white;
	}
}
.logo {
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 40px;
		font-family: $ff-mon;
		color: $white;
		& a {
			box-shadow: 0 0 15px $darkGrey;
			border-radius: 20px;
			width: 100%;
			height: auto;
			background-color: $white;
			color: $darkGrey;
			padding: 5px;
			text-align: center;
			&:hover {
				box-shadow: 0 0 35px $darkGrey;
			}
		}
	}
	&__title--position {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__title--size {
		font-size: 1.3rem;
	}
}
//////////////////////////////

// Slick Slider

.wrap-slider {
	flex: 0 1 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}

.slider {
	cursor: pointer;
	width: 80vw;
	&__item {
		text-align: center;
	}
	&__title {
		width: 80vw;
		font-family: $ff-m;
		font-weight: 700;
		font-size: calc($index-size * 2.3);
		letter-spacing: 0.1em;
	}
	// Slick dots

	.slick-dots {
		margin-top: 2vh;
		display: flex;
		justify-content: center;
		gap: 5vw;
		& li.slick-active {
			& button {
				background-color: #ffffff;
			}
		}
		& button {
			width: 15px;
			height: 15px;
			border: 1px solid $sky;
			background-color: transparent;
			border-radius: 50%;
			font-size: 0;
			transition: 0.5s;
			&:hover {
				cursor: pointer;
				box-shadow: 0 0 20px $salat;
				background-color: $white;
			}
		}
	}
}

//button next page
.next-page {
	margin-top: 7vh;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: $lightsky;
	& a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid $blue;
		background-color: $whiteOpacity;
		border-radius: 50%;
		transition: 0.6s;

		._icon-chevron-down {
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:hover {
			cursor: pointer;
			box-shadow: 0 0 15px $salat;
			background-color: $white;
			color: $blue;
		}
	}
}

@media (min-width: 760px) {
	.main-header {
		&::before {
			content: "";
			background: url(../assets/images/technology-connection.jpg) 0 0 / cover no-repeat;
		}
	}
	.header {
		height: 80px;
		position: relative;
	}
	.header-menu {
		&__container {
			position: relative;
			width: 50vw;
			top: 0;
			left: 30%;
			right: 0;
			height: 80px;
			z-index: 99;
			background-color: $sky;
			transition: 1s;
		}
		&__items {
			width: 100%;
			height: 100%;
			margin-top: 0;
			display: flex;
			flex-direction: row;
			gap: 5vw;
		}

		&__btn {
			display: none;
		}
		&__logo {
			width: 30vw;
		}
	}
	.block {
		height: 100%;

		&__info {
			padding: 0 1vw;
			flex: 0 1 30%;
			background-color: $whiteOpacity;
		}
		&__description {
			width: 60vw;
		}
	}
}

// MAIN
// SECTION LEVELS
main {
	width: 100%;
	// height: 100vh;
}
.levels {
	display: flex;
	flex-direction: column;
	gap: 5vw;
	&__box {
		width: 100%;
		height: 7vh;
	}
	&_description {
	}

	&__info {
	}

	&__title {
	}

	&__toggle {
	}
}

.toggle {
	display: flex;
	font-size: 1rem;

	& div {
		flex: 0 1 33.3%;
		width: 25.5vw;
		text-align: center;
		border-radius: 10px;
		height: 40px;

		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-family: $ff-ssp;
			transition: 1s;
			border-radius: 10px;
			border: 1px solid $sky;

			&:hover,
			&:active,
			&:focus {
				background-color: $sky;
				color: $white;
			}
		}
	}
	&__beginer {
		&:visited {
			background-color: $sky;
		}
	}

	&__intermediate {
		pointer-events: none;
		background-color: $lightGray;
		& a {
			color: $lightGray;
		}
	}

	&__advanced {
		pointer-events: none;
		background-color: $lightGray;
		& a {
			color: $lightGray;
		}
	}
}

.cards-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
	grid-gap: 4vh;
}
.card {
	padding: 2vh;
	width: 100%;
	height: 100%;
	border: 1px solid $sky;
	border-radius: 10px;
	background-color: $whiteOpacity;
	transition: 0.5s;
	&:hover {
		box-shadow: 0 0 15px $salat;
	}
	&__icon {
		width: 80px;
		height: 80px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__picture {
		margin: 2vh auto;
		width: calc($index-size * $side-big);
		height: auto;
		& img {
			width: 100%;
			height: auto;
		}
	}

	&__picture--scale {
		transform: scale(1.5);
	}

	&__link {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		text-align: center;
		line-height: 1.2;
	}

	&__description {
		margin-top: 1vh;
	}
}
.wrapper-figure {
	width: calc($index-size * $side-big);
	height: calc($index-size * $side-small);
}

@media (min-width: 760px) {
	.cards-list--grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: max-content;
		grid-gap: 5vh;
	}
	.levels {
		height: 100vh;
		gap: 3vh;
		&__box {
			width: 100vw;
			height: 7vh;
		}
	}
}

// Footer

.footer {
	padding: 3vw;
	position: relative;
	width: 100%;
	height: 200px;
	background: url(../assets/images/white-cloud-blue-sky.jpg) 0 0 / cover no-repeat;

	&__column {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&__logo {
	}

	&__row {
		width: 100%;
		height: 5vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__copyright {
		align-self: flex-end;
	}
}
.social {
	display: flex;
	gap: 20px;

	._icon-facebook {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	._icon-twitter {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	._icon-instagram {
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	& li {
		width: 40px;
		height: 40px;
		border: 1px solid $darkGrey;
		border-radius: 50%;
		transition: 1s;
		&:hover {
			cursor: pointer;
			border: 1px solid $lightsky;
			color: $lightsky;
			background-color: $white;
		}

		& a {
			width: 100%;
			height: 100%;
		}
	}
}
