// font-family
$ff-m: "Montserrat", sans-serif;
$ff-os: "Open Sans", sans-serif;
$ff-ssp: "Source Sans Pro", sans-serif;
$ff-mon: "Monoton";

// color
$white: #fff;
$sky: #55b7ff;
$blue: #0b7fdf;
$darkGrey: #535353;
$lightGray: #e4e4e4;
$salat: #5cf77d;
$black: #252525;
$red: rgb(253, 9, 9);
