// font-family
$ff-m: "Montserrat", sans-serif;
$ff-os: "Open Sans", sans-serif;
$ff-ssp: "Source Sans Pro", sans-serif;
$ff-mon: "Monoton";

// color
$white: rgb(255, 255, 255);
$whiteOpacity: rgb(255, 255, 255, 0.4);
$sky: rgb(0, 149, 243);
$blue: #0f65aa;
$lightsky: #55b7ff;
$darkGrey: #535353;
$lightGray: #e4e4e4;
$salat: rgb(92, 247, 125);
$darksalat: rgb(70, 199, 98);
$black: #252525;
$red: #fd0909;
$lightred: rgb(235, 130, 130);
$lightsalat: rgba(196, 248, 207);
$skyOpasity: rgb(108, 195, 253, 0.3);

$lightOrange: #f8d87e;
$purplegrad: rgb(126, 90, 255);
$bluegradient: rgb(85, 183, 255);

$index-size: calc(1vw + 1vh);
$side-small: 20;
$side-big: 30;
