.card {
	&__title {
	}

	&__title--align {
	}

	&__description {
	}

	&__description--align {
		margin-top: 3vh;
	}

	&__form {
	}
}

.amount {
	width: 120px;
	height: 50px;
	position: fixed;
	right: -125px;
	top: 2vh;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: $lightsalat;
	display: flex;
	flex-direction: column;
	gap: 5px;
	transition: 1s;
	&__mark {
	}

	&__mistakes {
		color: $red;
	}
}

.form-verb {
	font-size: 1rem;
	line-height: 2rem;
	&__ask {
	}

	&__answer {
		display: inline-block;
		outline: none;
		height: 30px;
		width: 100px;
		font-size: 1.2rem;
		letter-spacing: 0.3px;
		border: 1px solid $sky;
		border-radius: 10px;
		padding: 5px 10px;
	}

	&__btn {
		margin-top: 5vh;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		width: 100px;
	}
}

@media (min-width: 760px) {
	.amount {
		width: 200px;
		height: 80px;
		align-items: center;
		gap: 10px;
		right: -205px;
	}
}
